.container {
	max-width: 1000px;
	margin: auto;
}

.header__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.header__logo-pic {
	max-height: 100px;
}

.header__ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;
}

.header__li {
	margin-right: 100px;
}

.main__title {
	text-align: center;
	font-size: 40px;
	font-family: monospace; 
}

.box {
	max-width: 1000px;
	height: 200px;
	background: #000;
}